body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.auth_form {
  max-width: 500px;
  margin: 0 auto;
}

.chat_messages {
  border: 1px solid #e7e7e7;
  padding: 10px;
  height: 60vh;
  overflow: auto;
  background: #f8f8f8;
}

.chat_messages li {
  list-style: none;
}

.chat_user {
  padding: 5px 0 5px 15px;
  border-bottom: 1px solid #e7e7e7;
  position: relative;
}

.current_chat_user {
  color: #23527c;
  text-decoration: underline;
  font-weight: bold;
}

.chat_user:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.chat_user a {
  
}

.new_message .chat_user_link:after {
  content: '';
  position: absolute;
  height: 24px;
  width: 24px;
  top: 2px;
  right: 20px;
  border-radius: 15px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABaUlEQVRIS+1V0U0CQRSctw2IHWgFagXSgVqB7h7/YgVCBWIB7HJ//kkHYgf45S8lnAWwYx45zHEiy5mQaMJ+vszN7JuZzQl2fGTH/NgLJB3+GxaFEE4BXCSvWwPM5/O3xQYJgjzGOBWRg6YCJD++BGKMl+sIROQdwBPJOwAFgEFCLBeRUYxRcUUyg+Fw2BWRBxE5s9ZOQwgtkj0At7ULKXHPWjtTR0g+k8xXBLz3EwDnlQ8fAbQAXOuM5MAY07fWFiXJAMCsQtwmeQ+grfgY49U2G6j/JxVRtanrnMuXsxDCCvFyLiLHohYYY74FqA3odDpj7z1/CFe3HQG4Wd64itOAsyxrifdeQUd1EpITY8yE5EvT9pT4V+dce6NFy4B/I0Cyn2VZrx7yuHxQhXPusNxuEXDTowGrxSsCWkEA+mpnWrc1rdpaRwNWjo0WaTtijIvKNTmanbVWS7D/H6SNS77kNMVmxP8X+ASHjqgW5+XzDwAAAABJRU5ErkJggg==');
                                                                      
}

.edit_user {
  position: absolute;
  right: 0px;
}

.badge {
  float: right;
    margin-right: 20px;
}

.animate-message {
 animation: animate-bg 3s linear; 
}

@keyframes animate-bg {
  from { background-color: rgba(200,200,200,1);}
  to { background-color: rgba(200,200,200,0); }
}